body, html {
    margin:0;   
    height:100%;
    width:100%;
}

#tabstrip-home textarea {
    width: 98%;
    height: 150px;
    margin: 1%;
    box-sizing: border-box;
}

#tabstrip-home .km-button {
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
}